/* Shared CSS code */

/* Always set the map height explicitly to define the size of the div
           element that contains the map. */
#map {
    display: none;
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Login dialog */
#login-panel,
#saving-panel {
    display: none;
    position: relative;
}

#loginQuestion {
    font-size: x-large;
    margin: 0;
    margin-top: 20px;
}

#validateTips {
    color: darkred;
    padding-left: 20px;
}

#logo {
    padding-top: 10;
    height: 40;
    cursor: pointer;
}

#logo_name {
    height: 35;
    cursor: pointer;
}

/* Logo next to the Save button */
#btn_logo {
    height: 20px;
}

#submit,
#login {
    background-color: darkblue;
    float: right;
    right: 0;
    font-size: large;
    font-weight: 700;
    border-radius: 10px;
}

#submit:hover,
#login:hover {
    background-color: blue;
}

#login-panel label {
    font-size: large;
    font-weight: 700;
    color: darkblue;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* control panel */
#floating-panel {
    display: none;
    position: absolute;
    top: 10px;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

h1 {
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-family: sans-serif;
}

h2 {
    padding: 10px;
    margin: 0;
}

/* Small logo in the lower-left corner of the map */
#map_logo,
#map_logo_name {
    display: none;
    position: absolute;
    cursor: pointer;
}

#map_logo {
    padding-top: 10;
    height: 20;
    left: 100;
}

#map_logo_name {
    height: 15;
    left: 125;
}

#tagline {
    color: darkblue;
    font-family: sans-serif;
    position: relative;
    top: 12;
    left: 50;
}

/* Control panel */
.button {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.disabled {
    background-color: #cccccc;
    color: white;
    /* grayscale images, etc */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.enabled {
    background-color: forestgreen;
    color: white;
}

hr {
    height: 3px;
    background-color: #ccc;
    color: #ccc;
    padding: 0;
    margin-top: 20px;
}

.progress {
    font-size: x-large;
}

/* Style buttons */
.btn {
    background-color: blue;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: darkblue;
}

.btn_delete {
    background-color: red;
}

.btn_delete:hover {
    background-color: darkred;
}

.btn_view {
    background-color: orange;
}

.btn_view:hover {
    background-color: darkorange;
}

.disabled {
    background-color: #777;
}

.disabled:hover {
    background-color: #777;
}

#lock-window {
    display: none;
}

/* Darker background on mouse-over */
.pressed {
    background-color: #000058;
}

.pressed:hover {
    background-color: #000058;
}

.fade-edge-hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #777, #ccc);
}

.fade-edge-hr2 {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #777, #ccc);
}

.checks {
    background-color: goldenrod;
    border-radius: 5px;
    margin: 3px;
    padding: 10px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 8px;
}

#dates {
    height: 2em;
    color: #777777;
}

#date-start {
    border: 0;
    width: 45%;
    float: left;
    text-align: right;
}

#date-sep {
    float: left;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

#date-end {
    border: 0;
    width: 45%;
    text-align: left;
    float: left;
}

#slider-range {
    margin-left: 10px;
    margin-right: 10px;
}

#duration {
    width: 100%;
    text-align: right;
}

#lock-icon {
    width: 1em;
    color: #333;
}

#duration-container {
    /* shown once file is opened */
    display: none;
    float: right;
}

/* Checkbox styling */
/* Base for label styling */
.checks [type="checkbox"]:not(:checked),
.checks [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.checks [type="checkbox"]:not(:checked) + label,
.checks [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
.checks [type="checkbox"]:not(:checked) + label:before,
.checks [type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
.checks [type="checkbox"]:not(:checked) + label:after,
.checks [type="checkbox"]:checked + label:after {
    content: "\2713\0020";
    position: absolute;
    top: 0.15em;
    left: 0.22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

/* checked mark aspect changes */
.checks [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.checks [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
.checks [type="checkbox"]:disabled:not(:checked) + label:before,
.checks [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.checks [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

.checks [type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
.checks [type="checkbox"]:checked:focus + label:before,
.checks [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9 !important;
}

#logout {
    position: absolute;
    display: none;
    top: 9;
    right: 10;
    z-index: 9;
}

/***************************************************/
/* Dialog boxes */

#dialog-form {
    display: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkblue;
    color: white;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    /* Could be more or less, depending on screen size */
}
