@import "../../scss/global";

.wrapper {
  display: flex;
  height: 100vh;
  @media print {
    flex-direction: column;
  }
}

.editor {
  position: absolute;
  z-index: 3;
  width: 25vw;
  margin-top: 1vw;
  transition: all 0.15s;
}

.wrapperEdit {
  .editor {
    transform: translateX(500px);
  }
  .content {
    //transform: translateX(10vw);
  }
}

.sidebar {
  width: 500px;
  background: $ui-01;
  box-shadow: 3px 3px 7px rgba(#000, 0.05);
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  @media print {
    width: 100%;
  }
}

.content {
  width: 70vw;
  transition: all 0.2s;
  @media print {
    width: 100%;
  }
}
