@import "../../scss/global";

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30vw;
  box-shadow: 3px 3px 7px rgba(#000, 0.05);
  position: relative;
  z-index: 1;
}

.content {
  width: 70vw;
}
