@import "../../scss/global";

.form {
  background: $ui-01;
  height: 100%;
  padding: $spacing-md;
  border-radius: 10px;
  box-shadow: 0px 4px 12px -2px rgba(#000, 0.2);
  [class="wfp--form-item"] {
    margin-right: $spacing-xs;
    //margin-bottom: $spacing-md;
    &:last-child {
      margin-right: 0;
    }
  }
  border-bottom: 1px solid $ui-03;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  font-weight: 600;
}

.closeButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  padding: 0 !important;
  border-radius: 30px;
  position: relative;
  top: -0.5em;
  right: -0.5em;
}

.pickButton {
  margin-right: $spacing-2xs;
}

.position {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-md;
}

.dateWrapper {
  display: flex;
  margin-bottom: $spacing-md;
  > * {
    margin-right: $spacing-xs;
    &:last-child {
      margin-right: 0;
    }
  }
}

.streetWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-md;
}

.commentWrapper {
  margin-bottom: $spacing-md;
}

.townWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing-md;
}
