@import "../../scss/global";

.sidebarContent {
  flex: 1;
  overflow: auto;
}
.header {
  display: flex;
  text-align: left;
  padding: $spacing-md;
  border-bottom: 1px solid $ui-04;
  h2 {
    @include typescale("gamma");
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    color: $text-02;
  }
  div {
    margin-right: 0.3em;
  }
}

.title {
  flex: 1;
}

.toolbar {
  padding: $spacing-md;
  background: $ui-02;
  border-bottom: 1px solid $ui-04;
}

.newForm {
  padding: $spacing-md;
}
